<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beerproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.BeerProject"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name=".activities.ui.events.ListEventActivity">

        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAfu-pnT1jEKSXkvMSp31aL4MPyMxbMnP0"/>
        <activity
            android:name=".activities.BaseAcitivity"
            android:label="@string/app_name"
            android:theme="@style/PartyTheme"
            android:icon="@drawable/launcher_piva">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ui.events.NewEvent">

        </activity>
        <activity android:name=".activities.ui.events.EditEventActivity">

        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <service
            android:name=".activities.ui.events.notifyService.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":MyServiceProcess"></service>
    </application>

</manifest>